article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;


}



/* Universel-----------------------------------------------------------------------------*/


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 70px;
    color: ;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: ;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #272727;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: ;
}

.button_placement {
    text-align: center;
    margin: 20px 0 20px 0
}

.button {
    ;
    /* Green */
    border: none;
    width: 250px;
    color: white;
    padding: 16px;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 26px;
    cursor: pointer;
}

.button:hover {
    transition: 0.2s;
    background-color: beige;
}

#green-button {
    background-color: #44AF69;
}

a {
    text-decoration: none;
}



/* Index-----------------------------------------------------------------------------*/

#content {

    margin: 0 auto;


    text-align: center;

}


.velkommen {
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}

.swiper-container {

    width: 100%;
    height: 180px;
}

.swiper-slide img {
    height: 100%;
    width: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.kom_i_gang {

    margin: 0 auto;
    text-align: center;
}

.kom_i_gang h3 {
    margin-top: 50px;
    padding-bottom: 20px;
    5
}

#flex_dash_buttons {
    display: flex;

    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.dashboard_buttons {
    font-weight: 600;
    font-size: 26px;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 100px;
    word-wrap: break-word;
    line-height: 40px;
    border-radius: 35px;
    text-decoration: none;
    text-align: center;

}

#red-dash {
    background-color: #f45b69;
}

#blue-dash {
    background-color: #00B2CA;
}

#green-dash {
    background-color: #44AF69;
}

#black-dash {
    background-color: #272727;
}


@media only screen and (min-width:479px) {
    #flex_dash_buttons {
        width: 73%;
    }

    .dashboard_buttons {
        width: 110px;
        padding: 22px;
        font-size: 27px;
    }
}

@media only screen and (min-width:700px) {
    .swiper-container {
        height: 300px;
    }

    #flex_dash_buttons {
        width: 60%;
    }

    .dashboard_buttons {
        width: 120px;
        font-size: 30px;
        padding: 25px;
        margin: 15px;
    }
}

@media only screen and (min-width:980px) {
    #flex_dash_buttons {
        width: 60%;
    }

    .dashboard_buttons {
        margin: 30px;
        font-size: 35px;
        width: 130px;
        padding: 35px;
    }
}

/* login Page-----------------------------------------------------------------------------*/
.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
}




.content {
    margin: 0 auto;
}

.logo {
    width: 250px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: block;

}

#unilogin {
    background-color: #272727;
}

#licens {
    background-color: 272727;

    color: #272727;
}

.video-2 {
    display: none;
}

.video-3 {
    display: none;
}

.video-4 {
    display: none;
}

@media only screen and (min-width:768px) {
    .video-1 {
        display: none;
    }

    .video-2 {
        display: block;
    }
}

@media only screen and (min-width:1100px) {
    .video-2 {
        display: none;
    }

    .video-3 {
        display: block;
    }
}

@media only screen and (min-width:1500px) {
    .video-3 {
        display: none;
    }

    .video-4 {
        display: block;
    }
}


/* Pin -----------------------------------------------------------------------------*/
.lower-area {
    display: flex;
    justify-content: center;

}

.code-boxes {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
}

.code-box {
    padding: 10px;

}

.code-box input {
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 60px;
    width: 40px;
}


/* join game-----------------------------------------------------------------------------*/




#join_sec {
    margin: 0 0 0 0;
    overflow: hidden
}



#pin_billede {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 230px;

}



.square {
    width: 300px;
    height: 210px;
    margin: 1% 0 0 0;
    margin: 0 auto;
    border-radius: 35px;
    background-color: white;
}



#skrivpin {
    margin: 16% 0 0% 0;
    Width: 210px;
    background-color: #F45B69;
    font-size: 22px
}


#pin_input {
    text-align: center;
    height: 29px;
    margin: 6% 0 20% 0;
    width: 75%
}

.textcontainer {
    text-align: center;
}

#square_join {}

@media only screen and (min-width: 360px) {
    #pin_billede {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 380px;

    }
}

@media only screen and (min-width: 720px) {

    #skrivpin {
        margin: 16% 0 0% 0;
        Width: 210px;
        background-color: #F45B69;
        font-size: 22px
    }

    #pin_billede {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: ;

    }
}


@media only screen and (min-width: 760px) {
    #pin_billede {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: ;
        width: 480px;
    }



    #skrivpin {
        margin: 16% 0 0% 0;
        Width: 210px;
        background-color: #F45B69;
        font-size: 22px
    }
}

@media only screen and (min-width: 1010px) {
    #pin_billede {
        display: block;
        margin-right: auto;
        margin-left: auto;


    }
}

@media only screen and (min-width: 1030px) {
    #pin_billede {
        display: block;
        margin-right: auto;
        margin-left: auto;

        width: 480px;
    }
}

/* Right Answer-----------------------------------------------------------------------------*/

#right-answer {
    height: 10000px;
    width: 100%;
    background-color: #51C77A;

}

.wrong-or-right-answer {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 40%;
    margin-top: -40px;
    color: white;
    line-height: 60px;


}

.wrong-or-right-answer h3 {
    color: white;
    font-weight: 300
}

/* Wrong Answer-----------------------------------------------------------------------------*/


#wrong-answer {
    height: 10000px;
    width: 100%;
    background-color: #F45B69;

}

.wrong-or-right-answer {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 40%;
    margin-top: -40px;
    color: white;
    line-height: 60px;


}

.wrong-or-right-answer h3 {
    color: white;
    font-weight: 300
}



/* choose name -----------------------------------------------------------------------------*/





@media only screen and (min-width: 760px) {


    #navn_billede {
        overflow: hidden;
        display: block;
        width: 900px;
        margin-right: auto;
        margin-left: auto;

    }
}

@media only screen and (min-width: 1020px) {


    #navn_billede {
        overflow: hidden;
        display: block;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;

    }
}


@media only screen and (min-width: 1030px) {


    #navn_billede {
        overflow: hidden;
        display: block;
        width: 850px;
        margin-right: auto;
        margin-left: auto;

    }
}

/* Waiting Room-----------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) {
.box {
    border: solid;
    color: white;
    margin: 10px;
    border-color: white;
    width: 33.333333%;
    padding: 10px;
    border-radius: 33px;
}

.waiting-container {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
}
}

/* choose avatar-----------------------------------------------------------------------------*/
/* Gameboard-----------------------------------------------------------------------------*/



.large-top-text {
    text-align: center;
    padding-top: 10%;
    line-height: 70px;
    padding-bottom: 80px;
}

d .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    -webkit-scrollbar {
        display: none;
    }

}

.card {
    display: inline-block;
}


/* Waiting-----------------------------------------------------------------------------*/
/*gameboar-----------------------------------------------------------------------------*/
#katagoriKnap {
    background-color: #272727;
    margin: 100px 0 0 0

}
#colum-katagori{display: flex;
flex-direction: column;
align-items:center}

#middle-divider{width: 110px}






/* Answer-----------------------------------------------------------------------------*/
/* Winner-----------------------------------------------------------------------------*/


/* Scoreboard-----------------------------------------------------------------------------*/
@media only screen and (min-width: 320px) {
.score-board{
    background-color: aquamarine;
}
    .h1score{
        font-size: 30px
    }
    
.scorebox {
    background-color: #F2F4F3;
    color: black; 
    margin: 20px; 
    min-width: 70%;
    padding: 30px;
    border-radius: 33px;
}

.score-container {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
}


}






/*Media@
---------------------------------------------------------------------------*/
/* For width bigger than px: */
@media only screen and (min-width: 240px) {}

@media only screen and (min-width: 360px) {}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 720px) {}
