article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}



/* Universel-----------------------------------------------------------------------------*/

h1{
font-weight: 800;
}
h2{}
h3{
    font-size: 25px;
}
p{}

/* Index-----------------------------------------------------------------------------*/

#content {
    text-align: center;
    margin: 0 auto;
    
    
}

.dashboard_buttons {
    
}


/* login Page-----------------------------------------------------------------------------*/
/* join game-----------------------------------------------------------------------------*/
/* Gameboard-----------------------------------------------------------------------------*/
/* choose name -----------------------------------------------------------------------------*/
/* Waiting Room-----------------------------------------------------------------------------*/
/* choose avatar-----------------------------------------------------------------------------*/
/* Gameboard-----------------------------------------------------------------------------*/
/* Waiting-----------------------------------------------------------------------------*/
/* Question-----------------------------------------------------------------------------*/
/* Answer-----------------------------------------------------------------------------*/
/* Winner-----------------------------------------------------------------------------*/
/* Scoreboard-----------------------------------------------------------------------------*/










/*Media@
---------------------------------------------------------------------------*/
/* For width bigger than px: */
@media only screen and (min-width: 240px) {}

@media only screen and (min-width: 360px) {}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 720px) {}
