article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {}

body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;


}



/* Universel-----------------------------------------------------------------------------*/


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 70px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #272727;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.button_placement {
    text-align: center;
    margin: 20px 0 20px 0
}

.button {
    ;
    /* Green */
    border: none;
    width: 200px;
    color: white;
    padding: 16px;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 26px;
    cursor: pointer;
}

.button:hover {
    transition: 0.2s;
    background-color: beige;
}

#green-button {
    background-color: #44AF69;
}

a {
    text-decoration: none;
}



/* Index-----------------------------------------------------------------------------*/

#content {

    margin: 0 auto;


    text-align: center;

}


.velkommen {
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}

.swiper-container {

    width: 100%;
    height: 180px;
}

.swiper-slide img {
    height: 100%;
    width: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;


    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.kom_i_gang {

    margin: 0 auto;
    text-align: center;
}

.kom_i_gang h3 {
    margin-top: 50px;
    padding-bottom: 20px;
}

#flex_dash_buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.dashboard_buttons {
    font-weight: 600;
    font-size: 26px;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 100px;
    word-wrap: break-word;
    line-height: 40px;
    border-radius: 35px;
    text-decoration: none;
    text-align: center;

}

#red-dash {
    background-color: #f45b69;
}

#blue-dash {
    background-color: #00B2CA;
}

#green-dash {
    background-color: #44AF69;
}

#black-dash {
    background-color: #272727;
}


@media only screen and (min-width:479px) {
    #flex_dash_buttons {
        width: 73%;
    }

    .dashboard_buttons {
        width: 110px;
        padding: 22px;
        font-size: 27px;
    }
}

@media only screen and (min-width:700px) {
    .swiper-container {
        height: 300px;
    }

    #flex_dash_buttons {
        width: 60%;
    }

    .dashboard_buttons {
        width: 120px;
        font-size: 30px;
        padding: 25px;
        margin: 15px;
    }
}

@media only screen and (min-width:980px) {
    #flex_dash_buttons {
        width: 60%;
    }

    .dashboard_buttons {
        margin: 30px;
        font-size: 35px;
        width: 130px;
        padding: 35px;
    }
}

/* login Page-----------------------------------------------------------------------------*/
.v-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}




.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
}




.content {
    margin: 0 auto;
}

.logo {
    width: 250px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: block;

}

@media only screen and (min-width:768px) {
    .logo {
        width: 450px;
    }
}

@media only screen and (min-width:1024px) {
    .logo {
        width: 650px;
    }
}

#unilogin {
    background-color: #272727;
}

#licens {
    color: #272727;
}

.video-2 {
    display: none;
}

.video-3 {
    display: none;
}

.video-4 {
    display: none;
}

@media only screen and (min-width:768px) {
    .video-1 {
        display: none;
    }

    .video-2 {
        display: block;
    }
}

@media only screen and (min-width:1100px) {
    .video-2 {
        display: none;
    }

    .video-3 {
        display: block;
    }
}

@media only screen and (min-width:1500px) {
    .video-3 {
        display: none;
    }

    .video-4 {
        display: block;
    }
}


/* Pin -----------------------------------------------------------------------------*/
.lower-area {
    display: flex;
    justify-content: center;

}

.code-boxes {
    margin-top: -40px;
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
}

.code-box {
    padding: 10px;

}

.code-box input {
    border: 1px solid #ccc;
    border-radius: 15px;
    height: 60px;
    width: 40px;
}


/* join game-----------------------------------------------------------------------------*/




#join_sec {
    margin: 0 0 0 0;
    overflow: hidden
}



#pin_billede {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 230px;

}



.square {
    width: 300px;
    height: 210px;
    margin: 1% 0 0 0;
    margin: 0 auto;
    border-radius: 35px;
    background-color: white;
}



#skrivpin {
    margin: 16% 0 0% 0;
    Width: 210px;
    background-color: #F45B69;
    font-size: 22px
}


#pin_input {
    text-align: center;
    height: 29px;
    margin: 6% 0 20% 0;
    width: 75%
}

.textcontainer {
    text-align: center;
}

#square_join {}

@media only screen and (min-width: 360px) {
    #pin_billede {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 380px;

    }
}

@media only screen and (min-width: 720px) {

    #skrivpin {
        margin: 16% 0 0% 0;
        Width: 210px;
        background-color: #F45B69;
        font-size: 22px
    }

    #pin_billede {
        display: block;
        margin-right: auto;
        margin-left: auto;

    }
}


@media only screen and (min-width: 760px) {
    #pin_billede {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 480px;
    }



    #skrivpin {
        margin: 16% 0 0% 0;
        Width: 210px;
        background-color: #F45B69;
        font-size: 22px
    }
}

@media only screen and (min-width: 1010px) {
    #pin_billede {
        display: block;
        margin-right: auto;
        margin-left: auto;


    }
}

@media only screen and (min-width: 1030px) {
    #pin_billede {
        display: block;
        margin-right: auto;
        margin-left: auto;

        width: 480px;
    }
}

/* Right Answer-----------------------------------------------------------------------------*/

#right-answer {
    height: 10000px;
    width: 100%;
    background-color: #51C77A;

}

.wrong-or-right-answer {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 40%;
    margin-top: -40px;
    color: white;
    line-height: 60px;


}

.wrong-or-right-answer h3 {
    color: white;
    font-weight: 300
}

/* Wrong Answer-----------------------------------------------------------------------------*/


#wrong-answer {
    height: 10000px;
    width: 100%;
    background-color: #F45B69;

}

.wrong-or-right-answer {
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -140px;
    top: 40%;
    margin-top: -40px;
    color: white;
    line-height: 60px;


}

.wrong-or-right-answer h3 {
    color: white;
    font-weight: 300
}



/* choose name -----------------------------------------------------------------------------*/

#navn_billede{
        overflow: hidden;
}

@media only screen and (min-width: 760px) {


    #navn_billede {
        overflow: hidden;
        display: block;
        width: 900px;
        margin-right: auto;
        margin-left: auto;

    }
}

@media only screen and (min-width: 1020px) {


    #navn_billede {
        overflow: hidden;
        display: block;
        width: 1200px;
        margin-right: auto;
        margin-left: auto;

    }
}


@media only screen and (min-width: 1030px) {


    #navn_billede {
        overflow: hidden;
        display: block;
        width: 850px;
        margin-right: auto;
        margin-left: auto;

    }
}

/* Waiting Room-----------------------------------------------------------------------------*/
.pin-top {
    position: absolute;
    top: 0;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;
    width: 150px;
    font-weight: 800;
    color: #272727;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.middle-text {}

.middle-text h2 {
    margin-bottom: 5px;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    height: 60vh;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 30px;


}



#avatar-changes {
    height: 60vh;
}

.box-job {
    margin: 10px;
}

.box-job p {
    padding-top: 6px;
    font-size: 13px;

}

.image-box-job {
    border: solid;
    color: white;
    margin: 10px;
    width: 80px;
    border-radius: 30px;
    height: 80px;
    margin: 0 auto;
}

#avatar-box-job-changes {

    width: 100px;
    height: 100px;
}

#start-spil-button {
    background-color: dodgerblue;

}

.button-placeholder {}

@media only screen and (min-width:768px) {
    .image-box-job {
        width: 120px;
        height: 120px;
    }
}


/*
@media only screen and (min-width: 320px) {
    .box {
        margin: 0 auto;
        border: solid;
        color: white;
    margin: 10px;
        border-color: white;
        width: 33.333333%;
        padding: 10px;
        border-radius: 33px;
    }

    .waiting-container {
        display: flex;
        min-height: 100vh;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
}

*/

/* choose avatar-----------------------------------------------------------------------------*/
/* answer-----------------------------------------------------------------------------*/
.question-container-answer {
    margin-left: auto;
    margin-right: auto;
    height: 86vh;
    max-width: 1500px;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    padding: 1rem 1rem 0rem 1rem;
}


/* question-----------------------------------------------------------------------------*/
.container-qanda {
    max-width: 1660px;

    margin: auto;
    text-align: center;
}

#question-header {
    padding-top: 15px;
    margin-bottom: 20px;
}

#textfatter {
    font-weight: 600;
}

#texthomie {
    font-weight: 600;
    padding-top: 50px;
}

.progress {
    background: #fff;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 15px;
    margin: 0 0 7px 0;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.progress-value {
    animation: load 20s normal forwards;
    border-radius: 100px;
    background: #F45B69;
    height: 15px;
}

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

#question-header-h2 {
    font-size: 3vh;
    margin: 0 0 1vh 0
}

.question-container {
    margin-left: auto;
    margin-right: auto;
    height: 82vh;
    max-width: 1500px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    padding: 1rem 1rem 0rem 1rem;
}

#p-question {
    font-size: 23px;
    color: #000;
    line-height: 28px;
    max-width: 800px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0px
}

.question-box-container {
    margin: 0 auto;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.question {
    border: none;
    width: 290px;
    color: white;
    padding: 16px;
    border-radius: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 18px;
    cursor: pointer;
}


#greenquestion {
    background-color: #44AF69;
    margin: 0 0 0 0
}

#bluequestion {
    background-color: #00B2CA;
    margin: 0 0 0 0
}

#redquestion {
    background-color: #F45B69;
    margin: 0 0 0 0
}

@media only screen and (min-width: 330px) {
    .container-qanda {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    @media only screen and (min-width: 720px) {

        #question-header {
            margin-top: 10px;
        }

        .question-container {
            height: 87vh;

        }

        .question {
            width: 690px;
            padding: 56px;


        }

        #p-question {
            padding-bottom: 10px;
            padding-top: 10px;
        }


        .question-box-container {
            margin: 10vh 0 0 0
        }
    }

    @media only screen and (min-width: 1220px) {

        .question-container {
            height: 80vh;
        }

        #question-header {
            margin-top: 50px;
            margin-bottom: 51px;
        }


        .question-box-container {
            margin: 0 auto;
            height: 350px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 1vh 0 0 0
        }

        #p-question {
            font-size: 40px;
            line-height: 50px;

            text-align: center
        }

        .question {
            padding: 60px;
            font-size: 4vh
        }
    }
}

/* question-billede-----------------------------------------------------------------------------*/

#quiz-billede{width: 90%; margin: 1vh 0 0 0}


/* Gameboard-----------------------------------------------------------------------------*/




.large-top-text {
    text-align: center;
    padding-top: 10%;
    line-height: 70px;
    padding-bottom: 40px;
}

d .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    /*-webkit-scrollbar {
        display: none;
    }*/

}

#mypicture {

    width: 250px;
    margin: 0 0 130px 0;
}

#katagoriKnap {
    background-color: #272727;
    position: absolute;
    bottom: 10%
}

#colum-katagori {
    display: flex;
    flex-direction: column;

    align-items: center;


}

.card {
    display: inline-block;
}

@media only screen and (min-width: 720px) {

    #mypicture {
        width: 400px
    }





}


/* Waiting/loading-----------------------------------------------------------------------------*/
/*gameboard-----------------------------------------------------------------------------*/








/* Answer-----------------------------------------------------------------------------*/
/* Winner-----------------------------------------------------------------------------*/

#winner-text {
    color: #272727;
}


/* Scoreboard-----------------------------------------------------------------------------*/
.v-header-scoreboard {
    height: 100vh;
    align-items: center;
    color: #fff;
}

#h1_score {
    font-size: 2rem;
    text-align: center;
    margin: 2vh 0 2vh 0
}

#output {
    overflow: auto;
    height: 81vh;
    font-size: 1rem;
    color: #000
}

#score-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    max-width: 1500px;
    background-color: #fff;
    margin: 15px 1rem 15px 1rem;
    border-radius: 45px;

}

.inside-bar {
    margin: auto;

}

.place {
    font-size: 30px
}

.button_placement {
    text-align: center;
    margin: 6px 0 20px 0
}

#getScore {
    background-color: #44AF69;
    height: 30px;
    font-size: 15px;
    margin: auto;
    padding: 0px;

}

@media only screen and (min-width: 360px) {
    #getScore {
        margin: 2vh 00 0
    }
}

@media only screen and (min-width: 1500px) {
    #h1_score {
        font-size: 3rem;
    }

    #output {
        overflow: auto;
        height: 76vh;
        font-size: 2rem
    }

    #score-bar {
        margin: auto auto 15px
    }

    .button_placement {
        text-align: center;
        margin: 26px 0 20px 0
    }

    #getScore {
        background-color: #44AF69;
        height: 100px;
        font-size: 26px;
        margin: auto;
        padding: 0px;

    }
    }

/*Media@
---------------------------------------------------------------------------*/
/* For width bigger than px: */
@media only screen and (min-width: 240px) {}

@media only screen and (min-width: 360px) {}

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 720px) {}
